.home-layout {
  width: 100%;
}

.layout {
  position: relative;
  height: 70vh;
  overflow: hidden;
}

.layout-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.layout-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, #020617, transparent 50%);
}

.layout-content {
  position: absolute;
  bottom: 40px;
  left: 40px;
  max-width: 600px;
  color: var(--text-primary);
}

.layout-title {
  font-size: 48px;
  font-weight: 800;
}

.layout-desc {
  margin-top: 10px;
  color: var(--text-primary);
}

.layout-rating {
  margin-top: 10px;
  font-size: 20px;
  color: var(--text-secondary);
}

.play-btn {
  color: var(--text-secondary);
  border-radius: 16px;
  background-color: var(--bg-primary);
  width: 200px;
  height: 50px;
  font-size: 20px;
}

.play-btn:hover {
  transform: scale(1.05);
}

.row-scroll {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 12px;
}

.category {
  color: var(--text-primary);
}

.row-scroll::-webkit-scrollbar {
  height: 8px;
}

.row-scroll::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 4px;
}

.row-poster {
  width: 180px;
  border-radius: 12px;
  flex-shrink: 0;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.row-scroll a {
  display: inline-block;
}

.row-poster:hover {
  transform: scale(1.05);
}
